@model IEnumerable<I_FOX_V1.Models.Resumo>

@section Estilos{
    <link rel="stylesheet" href="~/css/cadernosEstilo.css" />
}
<section>
    <div class="cabecalho-materia">
            <h1>@TempData["tituloCaderno"]</h1>
        <div class="botao-pesquisar">
             <img src="~/img/lupa-pesquisa.png" />
             <input type="text" placeholder="Pesquisar"/>
        </div>
        <div class="imagens-organizacao-materia">
            <img src="~/img/organizador.png" />
            <img src="~/img/filtro.png" />
        </div>
    </div>

    <div class="tipos-resumo">
        <p>Selecione o tipo de resumo que você deseja</p>

        <a class="" asp-controller="Resumos" asp-action="ResumoCard">
            <div class="resumo-tipo">
                <img src="~/img/flashcard.png" alt="" />
                <p>Flashcards</p>
            </div>
        </a>

        <a class="" asp-controller="Resumos" asp-action="ResumoFotos">
            <div class="resumo-tipo">
                <img src="~/img/foto-resumo.png" alt="" />
                <p>Foto</p>
            </div>
        </a>

       <a class="">
            <div class="resumo-tipo">
                <img src="~/img/audio-resumo.png" alt="" />
                <p>Áudio</p>
            </div>
       </a>

        <a asp-controller="Resumos" asp-action="ResumoEscrito">
            <div class="resumo-tipo">
                <img src="~/img/resumo-escrito.png" alt="" />
                <p>Escrito</p>
            </div>
        </a>

    </div>

    <div class="descricao_caderno">
        <img src="~/img/raposa-cadernos.png" />
        <h5>@TempData["descricaocaderno"]</h5>
    </div>

    
    
    <div class="resumos">

        @if (Model != null)
        {
            @foreach (Resumo resumo in Model)
            {
                <a asp-controller="Resumo" asp-action="Vizualizar_@resumo.Tipo" asp-route-id="@resumo.Codigo">
                    <div class="resumo">
                        @*<img src="" alt="" />*@
                        <p>@resumo.Titulo | </p>
                        <p>@resumo.Tipo </p>
                        <p>Excluir</p>
                    </div>
                </a>
            }
        }else
        {
            <h4>Não possui resumos, crie o seu primeiro!</h4>
        }

    </div>
</section>