@model IEnumerable<I_FOX_V1.Models.Resumo>

@section Estilos{
    <link rel="stylesheet" href="~/css/resumoEstilo.css" />
}
<section>
    <div class="cabecalho-materia">
        <div class="botao-pesquisar">
             <img src="~/img/lupa-pesquisa.png" />
             <input type="text" placeholder="Pesquisar"/>
        </div>
        <div class="imagens-organizacao-materia">
            <img src="~/img/organizador.png" />
            <img src="~/img/filtro.png" />
        </div>
    </div>

    <div class="tipos-resumo">
        <p>Selecione o tipo de resumo que você deseja</p>

        <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Flashcard">
            <div class="resumo-tipo">
                <img src="~/img/flashcard.png" alt="" />
                <p>Flashcards</p>
            </div>
        </a>

        <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Fotos">
            <div class="resumo-tipo">
                <img src="~/img/foto-resumo.png" alt="" />
                <p>Foto</p>
            </div>
        </a>

        <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Audio">
            <div class="resumo-tipo">
                <img src="~/img/audio-resumo.png" alt="" />
                <p>Áudio</p>
            </div>
       </a>

        <a asp-controller="Resumos" asp-action="ResumoEscrito">
            <div class="resumo-tipo">
                <img src="~/img/resumo-escrito.png" alt="" />
                <p>Escrito</p>
            </div>
        </a>

    </div>

    <div class="descricao_caderno">
        <h2>@TempData["tituloCaderno"]</h2>
        <h5>@TempData["descricaocaderno"]</h5>
    </div>

    <div class="resumos">

        @if (Model != null)
        {
            @foreach (Resumo resumo in Model)
            {
                <a asp-controller="Resumo" asp-action="Vizualizar_@resumo.Tipo" asp-route-id="@resumo.Codigo">
                    <div class="resumo">
                        <div class="poligono">
                            <img src="~/img/raposa_resumos.png" alt="" />
                        </div>
                        
                        <div class="descricao_resumo">
                            <p>@resumo.Titulo </p>
                            <p>Resumo @resumo.Tipo</p>
                            <img src="~/img/deletar_icone.png"/>
                        </div>
                    </div>
                </a>
            }
        }else
        {
            <h4>Não possui resumos, crie o seu primeiro!</h4>
        }

    </div>
</section>