@model IEnumerable<I_FOX_V1.Models.Resumo>

@{
    ViewData["Title"] = @TempData["tituloCaderno"];
}

@*Sessões de css e js dessa página*@
@section Estilos{
    <link rel="stylesheet" href="~/css/resumoEstilo.css" />
}

@section JavaScript{
    <script src="~/js/popup.js"></script>
}

<section>
    <div class="descricao_caderno">
        <h2>@TempData["tituloCaderno"]</h2>
        <h5>@TempData["descricaocaderno"]</h5>
    </div>

    <div class="tipos-resumo">
        <p>Selecione o tipo de resumo que você deseja</p>

        <div class="divide">
            <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Flashcard">
                <div class="resumo-tipo">
                    <img src="~/img/icones_resumo/flashcard_iconn.png" alt="Icone de um flashcard" />
                    <p>Flashcards</p>
                </div>
            </a>

            <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Foto">
                <div class="resumo-tipo">
                    <img src="~/img/icones_resumo/foto_iconn.png" alt="Icone de um resumo por foto" />
                    <p>Foto</p>
                </div>
            </a>

            <a asp-controller="Resumos" asp-action="CadastrarResumo" asp-route-id="Audio">
                <div class="resumo-tipo">
                    <img src="~/img/icones_resumo/audio_iconn.png" alt="Icone de resumo por áudio" />
                    <p>Áudio</p>
                </div>
            </a>

            <a asp-controller="Resumos" asp-action="ResumoEscrito">
                <div class="resumo-tipo">
                    <img src="~/img/icones_resumo/escrito_iconn.png" alt="Icone de resumo escrito" />
                    <p>Escrito</p>
                </div>
            </a>
        </div>
        

    </div>

    <div class="resumos">

        @if (Model != null)
        {
            @foreach (Resumo resumo in Model)
            {
                //Definindo a tela que vai ser direcionada ao clicar
                string visualizacao = "Visualizar" + resumo.Tipo;
                if(resumo.Tipo == "Foto" || resumo.Tipo == "Audio"){
                    visualizacao = "Resumo" + resumo.Tipo;
                }

                <div class="resumo">
                    <a asp-controller="Resumos" asp-action="@visualizacao" asp-route-id="@resumo.Codigo">
                        <div class="poligono">
                            <img src="~/img/i_fox/raposa_lobo.png" alt="" />
                        </div>     
                    
                        <div class="descricao_resumo">
                            <p class="negrito">@resumo.Titulo </p>
                            <p>Resumo @resumo.Tipo</p>
                        </div>

                    </a>
                    <button class="lixin pop-button"><img src="~/img/icones_crud/deletar_icone.png" /></button>

                    @*//PopUp para confirmação para deletar um resumo*@
                    <dialog>
                        <p>Tem certeza que deseja excluir o resumo @resumo.Titulo ?</p>
                        <div class="pop_botoes">
                            <button>NÂO</button>
                            <a asp-controller="Resumos" asp-action="deletarResumo" asp-route-id="@resumo.Codigo">SIM</a>
                        </div>

                    </dialog>
                </div>

            }
        }else
        {
            <h4>Não possui resumos, crie o seu primeiro!</h4>
        }

    </div>
</section>