@model I_FOX_V1.Models.Usuario
@{
    TempData["Title"] = "PERFIL";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/perfil.css" />
}

<section>
   @* <div class="bloco">

        <div class="avatar">
            <p>Avatar</p>
        </div>

        <div class="escrita">
            <h1>Olá, @Model.Nome !</h1>
            <p>Aqui você pode ver e editar os dados do seu perfil</p>
        </div>

        <div>
            <img alt="" src="~/img/i_fox/raposa-cabecalhos.png" width="180px" height="140px">
        </div>

    </div>

    <div class="foraBloco">
        <div>
            <h2>I-FOX</h2>
            <img id="raposaFilhote" alt="" width="380px" height="430px" src="~/img/i_fox/raposa-flutuante-png.png">
        </div>

        <form method="post">
            <div class="usuario"> 

                <div class="campo1">
                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario" name="nome" value="@Model.Nome" required>
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>

                <br><br>

                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="@Model.Email" required>
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30" height="30">
                </div>

                <br><br>

                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" value="@Model.Senha">
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>

                <br><br>

                <div class="campo2">
                    <label for="">Data nascimento:</label>
                    <input type="date" id="data" name="data_nasc" value="@Model.Data_nasc">
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>
            </div>

            <button type="submit" class="botao-verde">SALVAR</button>
        </form>

    </div>

*@


    <div class="blocao">


        <div class="img">
            <img alt="" src="~/img/i_fox/raposa_perfil.png" height="800px">
        </div>


        <div class="tudo">

            <br><br><br>

            <div class="primeiro">

                <div class="perfil">
                </div>

                <div>
                    <h1>Olá, @Model.Nome</h1>
                </div>

            </div>

            <form method="post">
                <div class="usuario">

                    <div class="campo1">
                        <label for="usuario">Usuário</label>
                        <input type="text" id="usuario" name="nome" value="@Model.Nome" required>
                        <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                    </div>

                    <br><br>

                    <div class="campo">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="@Model.Email" required>
                        <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                    </div>

                    <br><br>

                    <div class="campo">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" value="@Model.Senha">
                        <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                    </div>

                    <br><br>

                    <button type="submit" class="botao-verde">SALVAR</button>

                </div>
            </form>

        </div>
            


    </div>

    <div class="imagem">
        <img alt="" src="~/img/i_fox/matinho_fundo.png" width="1862px" height="130px">
    </div>


</section>
