@model I_FOX_V1.Models.Usuario
@{
    TempData["Title"] = "PERFIL";
}

@section Estilos{
    <link rel="stylesheet" href="~/css/perfil.css" />
}

<section>
    <div class="bloco">

        <div class="avatar">
            <p>Avatar</p>
        </div>

        <div class="escrita">
            <h1>Olá, @Model.Nome !</h1>
            <p>Aqui você pode ver e editar os dados do seu perfil</p>
        </div>

        <div>
            <img alt="" src="~/img/i_fox/raposa-cabecalhos.png" width="180px" height="140px">
        </div>

    </div>

    <div class="foraBloco">
        <div>
            <h2>I-FOX</h2>
            <img id="raposaFilhote" alt="" width="380px" height="430px" src="~/img/i_fox/raposa-flutuante-png.png">
        </div>

        <form method="post">
            <div class="usuario"> 

                <div class="campo1">
                    <label for="">Usuário</label>
                    <input type="text" id="titulo1" value="@Model.Nome">
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>

                <br><br>

                <div class="campo">
                    <label for="">Email</label>
                    <input type="text" id="titulo" value="@Model.Email">
                    <img alt="" src="~/img/icones_crud/edicao.png" width="30" height="30">
                </div>

                <br><br>

                <div class="campo">
                    <label for="">Senha</label>
                    <input type="text" id="titulo" value="@Model.Senha">
                        <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>

                <br><br>

                <div class="campo2">
                    <label for="">Data nascimento:</label>
                    <input type="date" id="data" value="@Model.Data_nasc">
                        <img alt="" src="~/img/icones_crud/edicao.png" width="30px" height="30px">
                </div>
            </div>
        </form>

    </div>

</section>
